/* HEADER */

header{
    background-color: #2E3A46;
}   

.logo-img{
    width: 80px;     
}

img{
    width: 100%;
    padding: 15px;
}


/* MAIN */
main{
    height: 100vh;
    background-color: #1E2D3B;
}

/* CARDS */
.card{
    width: calc(100% / 5);
    background-color: #2E3A46;  
} 